




body{
  margin-left: 100px;
}


.description-1{
float: right;
left: -185px;
top: -175px;
position: relative;
}

.description-2{
  float: right;
left: -435px;
top: -175px;
position: relative
}

.description-3{
  float: right;
left: -435px;
top: -175px;
position: relative
}
