




body{
  margin-left: 400px;
  margin-right: 300px;
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size:18px;
}


.description-1{

position: relative;
padding-bottom: 90px;
}

.description-2{
  top:30px;

position: relative
}

.description-3{
  

position: relative
}

  p{
    color: grey;

  }

 .image-1{
   margin-left: 300px;
 }

  h1{
    text-align: center;
    color: rgba(228, 79, 53, 0.795);
  }


  h2{
    text-align: center;
    color: gray;
  }

  .button {
    font-size:  16px;

    text-decoration: none;
    background-color: #EEEEEE;
    color: rgba(228, 79, 53, 0.795);
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    
    width: 120px;
    height: 40px;;
    
    
    text-align: center;
    left: 340px;
    position: relative;
    
    top:-50px;
    

    display: absolute;
  }

  .button a{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .block1{
    
    width:800px;
    height: 500px;
    background-color: pink;
    /* position tot transform voor content in center*/
    position: relative;
    
    margin-top: 30px;
      
    }
  

    .block-2{
    
      width:800px;
      height: 150px;
      
      background-color: pink;
      /* position tot transform voor content in center*/
      position: relative;
      text-align: center;
      
      }


    .links  li{
      display: inline-block;
     
      padding-left: 35px;
      position: relative;

      left: -50px;
      top: 60px;
    }
      
      .hfm{
        top: 40px;
        position: relative;
        padding-bottom: 80px;
      }

    .block-3{
      width:800px;
      height: auto;
      
      
      
      background-color: pink;
      /* position tot transform voor content in center*/
      position: relative;
      text-align: center;
    }

    .image-2{
      float: left;
      margin-left: 40px;
      position: relative;

    }

    .image-3{
      float: left;
      margin-left: 40px;
      position: relative;
    }

    .image-4{
      float: left;
      margin-left: 40px;
      position: relative;
    }